
<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
          <%= customer.full_name %>
      </p>
        <%if customer.image.present?%>
        <div class="card-image">
          <figure class="image">
            <%= image_tag customer.image%>
          </figure>
        </div>
        <%end%>
      <p>Number: <%= customer.phone_number %></p>
      <p>Email: <%= customer.email_address %></p>
      <p>Notes: <%= customer.notes %> </p>
    </div>
  </div>
  </div>